In [1]:
import pandas as pd

In [8]:
okhla_c1 = pd.read_csv('okhla_marked_c1.csv')
okhla_c2 = pd.read_csv('okhla_marked_c2.csv')
okhla_c3 = pd.read_csv('okhla_marked_c3.csv')
okhla_c4 = pd.read_csv('okhla_marked_c4.csv')

In [9]:
print(list(okhla_c1.columns))
print(list(okhla_c2.columns))
print(list(okhla_c3.columns))
print(list(okhla_c4.columns))

['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx']
['From Date', 'To Date', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene']
['From Date', 'To Date', 'Toluene', 'Temp', 'RH', 'WS', 'WD']
['From Date', 'To Date', 'SR', 'BP', 'AT', 'RF', 'TOT-RF']

In [10]:
columns= list(okhla_c1.columns)+list(okhla_c2.columns)+list(okhla_c3.columns)+list(okhla_c4.columns)
columns.remove("To Date")
columns.remove("From Date")

In [15]:
def clean(df):
    cols = list(df.columns)
    cols.remove("To Date")
    cols.remove("From Date")
    print(len(df),cols)
    for c in cols:
        df[c] = pd.to_numeric(df[c], errors='coerce')
    print(df)
    df = df.dropna()
    print(len(df))
    return df

# df = clean(oklha_m3)
# df.to_csv("okhla_static.csv")

In [12]:
okhla_c1
# oklha_m1 = pd.merge(okhla_c1, okhla_c2,  how='outer', on=['From Date','To Date'])
# oklha_m2 = pd.merge(oklha_m1, okhla_c3,  how='outer', on=['From Date','To Date'])
# oklha_m2 = oklha_m2.drop('Temp', axis=1)

# oklha_m3 = pd.merge(oklha_m2, okhla_c4,  how='outer', on=['From Date','To Date'])
# oklha_m3

             From Date           To Date PM2.5   PM10     NO    NO2    NOx
0     01-09-2021 00:00  01-09-2021 00:30    28     56  19.65   45.8   40.4
1     01-09-2021 00:30  01-09-2021 01:00    25   51.5  12.25  37.65  29.95
2     01-09-2021 01:00  01-09-2021 01:30    22     47    9.9   40.7   29.7
3     01-09-2021 01:30  01-09-2021 02:00    20     35    8.2  34.05  24.85
4     01-09-2021 02:00  01-09-2021 02:30    18     23    4.5  34.65   22.1
...                ...               ...   ...    ...    ...    ...    ...
8654  28-02-2022 07:00  28-02-2022 07:30    56    117   45.6  60.15   69.2
8655  28-02-2022 07:30  28-02-2022 08:00    50  120.5  43.05  64.75  69.45
8656  28-02-2022 08:00  28-02-2022 08:30    44    124   40.9   66.1  68.35
8657  28-02-2022 08:30  28-02-2022 09:00  44.5    128   39.4  70.05   69.4
8658  28-02-2022 09:00  28-02-2022 09:29    45    132   30.2  68.95   61.3

[8659 rows x 7 columns]

In [35]:
import pandas as pd

In [36]:
najafgarh_c1 = pd.read_csv('najafgarh_marked_c1.csv')
najafgarh_c2 = pd.read_csv('najafgarh_marked_c2.csv')
najafgarh_c3 = pd.read_csv('najafgarh_marked_c3.csv')
najafgarh_c4 = pd.read_csv('najafgarh_marked_c4.csv')

In [37]:
print(list(najafgarh_c1.columns))
print(list(najafgarh_c2.columns))
print(list(najafgarh_c3.columns))
print(list(najafgarh_c4.columns))
columns= list(najafgarh_c1.columns)+list(najafgarh_c2.columns)+list(najafgarh_c3.columns)+list(najafgarh_c4.columns)
columns.remove("To Date")
columns.remove("From Date")

['From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx']
['From Date', 'To Date', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene']
['From Date', 'To Date', 'Toluene', 'Temp', 'RH', 'WS', 'WD']
['From Date', 'To Date', 'SR', 'BP', 'VWS', 'AT', 'RF']

In [53]:
najafgarh_m1 = pd.merge(najafgarh_c1, najafgarh_c2,  how='outer', on=['From Date','To Date'])
najafgarh_m2 = pd.merge(najafgarh_m1, najafgarh_c3,  how='outer', on=['From Date','To Date'])
najafgarh_m2 = najafgarh_m2.drop('Temp', axis=1)
najafgarh_m3 = pd.merge(najafgarh_m2, najafgarh_c4,  how='outer', on=['From Date','To Date'])
najafgarh_m3 = najafgarh_m3.drop('VWS', axis=1)

df = clean(najafgarh_m3)
df
df.to_csv("najafgarh_static.csv",index=False)

17283 ['PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'RH', 'WS', 'WD', 'SR', 'BP', 'AT', 'RF']
              From Date           To Date  PM2.5   PM10   NO   NO2   NOx  \
0      01-09-2021 00:00  01-09-2021 00:15   23.0   46.0  5.8  26.6  32.4
1      01-09-2021 00:15  01-09-2021 00:30   23.0   46.0  5.2  25.3  30.4
2      01-09-2021 00:30  01-09-2021 00:45   23.0   46.0  5.9  23.7  29.5
3      01-09-2021 00:45  01-09-2021 01:00   23.0   46.0  4.5  23.2  27.7
4      01-09-2021 01:00  01-09-2021 01:15   18.0   45.0  4.2  25.4  29.6
...                 ...               ...    ...    ...  ...   ...   ...
17278  27-02-2022 23:30  27-02-2022 23:45   57.0  206.0  3.3  14.0  17.3
17279  27-02-2022 23:45  28-02-2022 00:00   38.0   90.0  6.3  15.7  22.0
17280  28-02-2022 00:00  28-02-2022 00:15   38.0   90.0  1.2  16.3  17.5
17281  28-02-2022 00:15  28-02-2022 00:30   38.0   90.0  2.7  13.1  15.8
17282  28-02-2022 00:30  28-02-2022 00:39   38.0   90.0  1.8  17.5  19.3

         NH3  SO2   CO  Ozone  Benzene  Toluene    RH   WS     WD   SR     BP  \
0       10.8  2.7  0.9    1.4      0.3      3.5  78.6  1.1   97.5  3.4  986.0
1       10.6  2.8  0.9    1.3      0.3      3.1  78.7  1.2  116.9  3.4  985.7
2       10.7  2.8  0.8    0.7      0.2      2.9  78.7  1.6  135.2  3.4  985.6
3       11.6  2.7  0.8    0.9      0.2      2.7  78.7  2.0  148.1  3.3  985.5
4       11.5  2.7  0.8    NaN      0.2      2.7  78.6  1.7  144.4  3.4  985.4
...      ...  ...  ...    ...      ...      ...   ...  ...    ...  ...    ...
17278    NaN  1.5  1.1    5.7      0.4      0.4  78.6  1.8  351.2  2.6  995.3
17279    NaN  1.7  1.0    7.8      0.3      0.3  76.8  1.8  351.3  2.6  995.2
17280  189.4  1.6  1.0    8.6      0.2      0.3  76.1  1.8  350.8  2.6  995.2
17281   67.1  1.7  1.0    9.0      0.1      0.2  76.0  1.5  350.2  2.6  995.0
17282   60.0  1.8  1.0    7.6      0.1      0.2  77.1  1.4  349.4  2.6  994.8

         AT   RF
0      26.2  0.0
1      26.1  0.0
2      26.0  0.0
3      26.0  0.0
4      25.9  0.0
...     ...  ...
17278  12.3  0.0
17279  13.1  0.0
17280  13.0  0.0
17281  12.8  0.0
17282  12.3  0.0

[17283 rows x 20 columns]
11180